<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="answer-container">
  <div class="content">
    <h2><%= @question %></h2>
    <p>- You</p>
    <h2><%= @answer %></h2>
    <p>- Your Coach</p>
    <p><%= link_to "Ask another question", ask_path %></p>
  </div>
</div>
