<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
  <div class="form-container">
      <form action="/answer" method="get">
        <label for="question"><h2>Speak to your coach</h2></label>
        <input type="text" id="question" name="query" class="form-control" placeholder="i.e. What time is it?">
        <input type="submit" class="btn btn-primary" value="Go on!">
      </form>
</div>
